<%- include("partials/layout") %>
<%- include("partials/header") %>

<main class="glass-container">
  <article>
    <h1 style="text-align: center; padding: 20px;"><%= post.title %></h1>
    <% if (post.image) { %>
      <img class="post-image" src="<%= post.image %>" alt="<%= post.title %>">
    <% } %>
    <div class="post-content">
      <%- htmlContent %>
    </div>
  </article>



<section class="leia-mais">
  <h3 style="text-align: center;">Veja também</h3>
  <%- include("partials/posts", { posts: postsRecentes }) %>
</section>
</main>

<%- include("partials/footer") %>
